.search_box {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;

}

.searchContent {
    margin-top: 62px;
}

.btnStyle {

    width: 230px;
    height: 43px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;


}

.search_function {

    border-bottom: 1px solid;
    position: relative;
    top: 42px;
}

::-webkit-input-placeholder {
    color: #000000;
}

.type_text {


    border: none;
    display: flex;
    align-items: center;
    margin: 4px 0px 3px 13px;
    width: 100%;
    outline: none;
}

.type_text::placeholder {

    color: #878787;

}

.preview_color {

    float: right;
    bottom: 22px;
    position: relative;

}

.text_search {

    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 500;
    font-size: 20px;
    line-height: 154.7%;
    padding-bottom: 15px;

}

.product_description {

    width: 100%;
    padding: 3px 0 10px 0;

}

/* .prodDetail_text {
    line-height: 5px;
} */

.prodDetail_text p {
    font-size: 14px;
}

.shop_icon img {
    position: absolute;
    right: 0px;
    bottom: 115px;
    width: 40px;
    height: 39px;
}

.favIcon.me-2.position_relative.me-4 label {
    font-size: 1.5em;
}

.shirt_col {

    height: auto;
    display: flex;
}

.text_category {
    position: relative;
}

.new {
    display: inline-block;
    position: absolute;
    z-index: 1;
    background: #000;
    padding: 0 5px;
    color: #fff;
}

.prod1 img {

    position: relative;
}

.image_color {

    padding-left: 16px;

}

.image_color .favIcon {
    position: absolute;
    top: 0px;
    right: 0;
    z-index: 1;
    cursor: pointer;
}


.image_color input[type='radio'] {
    -webkit-appearance: none;
    -moz-appearance: none;
    width: 30px;
    height: 20px;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    z-index: 999;
}

.image_color input[type='radio']:hover {
    -webkit-filter: opacity(.4);
    filter: opacity(.4);
}

.image_color .blue {
    background: #7CCCD1;
}

.image_color .blue:checked {
    border: 2px solid #000;
}

.image_color .yellow {
    background: #F0C968;
}

.image_color .yellow:checked {
    border: 2px solid #000;
}

.image_color .white {
    background: #FFFFFF;
}

.image_color .white:checked {
    border: 2px solid #000;
}

.image_color .darkblue {
    background: #153880;
}

.image_color .darkblue:checked {
    border: 2px solid #000;
}


.image_color .skyblue {
    background: #D1E1F7;
}

.image_color .skyblue:checked {
    border: 2px solid #000;
}


.image_color .pink {
    background: #C7AACC;
}

.image_color .pink:checked {
    border: 2px solid #000;

}

.text_search {

    display: flex;
    justify-content: center;

}

@media only screen and (max-width: 576px) {

    .prodDetail_text p {

        font-family: 'Open Sauce One';
        font-style: normal;
        font-weight: 700;
        font-size: 9px;
        line-height: 11px;
    }

    .text_search p {

        font-size: 14px;
        font-weight: 500;
        padding: 0px 8px 2px 15px;

    }

    .image_color input[type='radio'] {

        width: 17px;
        height: 14px;
    }

    .preview_color {

        bottom: 18px;

    }

    .shop_icon img {

        bottom: 107px;
        width: 30px;
        height: 31px;
    }

    .image_color {

        padding: 6px;

    }

    .searchContent {
        margin-top: 30px;
    }
}

.closeBtn {
    position: relative;
    right: 14px;
}

.search_suggestion {
    position: relative;
    border-bottom: 1px solid;


}

@media (max-width:768px) {
    .search_suggestion {
        max-width: 230px;
    }

}

.prediction {
    padding: 9px;
    justify-content: space-between;
    display: flex;
}