.category-carousel{
    margin-top:31px;
    position: relative;
}
.category-carousel img{
    position:relative;
}

.text-menbanner{

    position :absolute;
    z-index:3;
    color:#FFFFFF;
    padding:10px;
    width: 100%;
}
.banner-txt{
    top:60%;
    position: absolute;
    display: inline-block;
    left: 50%;
}
.centered {
    width:340px;
    color:#fff;
    font-size:35px;
    font-weight:600;    
    z-index: 10;
    bottom:40px;
    position: absolute;
    display: inline-block;
    right: 0px;
}
.Menbanner-Image{
    position:relative;
}

.men-banner .carousel.slide{
    height:auto !important;
}
.men-banner .carousel-heading{
    position:absolute;
    z-index:4;
    color:#FFFFFF;
    padding:13px;
}