.home_banner{
    position: relative;
    background: #F1FF54;
}
.banner-Image{
    width:930px;
    height:920px;
}
.banner-Image img{
    width: 100%;
    height: 100%;
}
.carousel-indicators {
    margin-right: 0;
    margin-bottom: 0px;
    margin-left: 0;
    border: 2px solid #fff;
    background-color: #fff;
}
.carousel-indicators [data-bs-target]{
    width: 100%;
    height: 10px;
    margin-right: 0px;
    margin-left: 0px;
    opacity: .2;
}
.carousel.slide{
    margin: 2rem 0 0;
    height: 885px;
    overflow: hidden;
}
.carousel-indicators .active {
    opacity: 1;
}
.carousel-indicators button{
    margin-bottom: 0 !important;
}
.carousel-control-next, .carousel-control-prev {
    width: 5%;
}
.carousel-control-prev-icon, .carousel-control-next-icon{
    background-color: #fff;
    height: 4%;
    width: 80%;
    position: absolute;
    bottom: 15rem;
}
.carousel-control-next-icon {
    background-image: url(../../assets/images/right-arrow.png);
    background-size: auto;
}
.carousel-control-prev-icon {
    background-image: url(../../assets/images/left-arrow.png);
    background-size: auto;
}
.toast{
    position: fixed;
    bottom: -1px;
    z-index: 9;
    width: 100%;
    left: 0;
    right: 0;
}
.toast-header{
    height:80px;
}
.carousel-indicators .active {
    opacity: 1;
    background-color: #000;
}
.carousel-indicators [data-bs-target] {
    border-top:0 solid transparent;
    border-bottom: 0 solid transparent;
}
.category-carousel .Men{
    text-decoration: none;
    color:#000;
}
.category-carousel .Women{
    text-decoration: none;
    color:#000;
}
