.btnStyle {

    width: 190px;
    height: 32px;
    border: 1px solid #000;
    align-items: center;
    justify-content: center;
    text-align: center;
    outline: none;
    font-size: 11px;


}

.search_brand {

    background-color: #fff;
    height: auto;
    width: 100%;
    position: absolute;
    top: 0px;
    left: 0;
    z-index: 1010;
    padding:0px 0px 90px 0px;

}

.search_box {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;


}






.closebutton {
    position: relative;
    justify-content: center;
    padding: 8px 0px 0px 0px;
}

.closeicon {
    top: 8px;
    left: 7px;
    position: absolute;
    padding: 3px 0px 2px 3px;
}

.filterbutton {

    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 400;
    font-size: 14px;
    line-height: 17px;

}

.text_menu {
    font-size: 12px;
    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 400;
    padding: 23px 0px 0px 23px;
}


/* suggested brands  */
.search_brand .brand_buttons {
    flex-wrap: nowrap;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    gap: 9px;
    padding: 0 21px 21px 21px;

}

.search_brand .brand_buttons .brand_btn {
    min-width: 100px;
    height: 32px;


}

.search_brand .brand_buttons .brand_btn button {
    width: 100%;
    min-width: 100px;
    height: 100%;


}

.search_brand .text_suggested {
    background-color: #fff;

    color: #000;
    font-family: 'OpenSauceOneRegular';
    font-weight: normal;
    font-style: normal;
    font-size: 8px;
}

.search_brand  .dropdown_header{

    background-color:#F1FF54 !important ;
    color:#000000;
    padding-left:35px;
  }

  .search_brand  .dropdown_item {

    width:unset !important;
    margin:0 33px;
  
  }

  .search_brand .items{

    border-bottom:1px solid #878787;
    padding:0;
    margin:  0px 35px 3px 35px;
  
  }















  /* dropdown design
   */

   .dropdown_custom .dropdown-text {

    font-family: 'Open Sauce One';
    font-style: normal;
    font-weight: 400;
    font-size: 15px;
  }
  
  .dropdown_custom .dropdown-menu.show {
  
    border: 1px solid #000;
    border-radius: 0;
    width: 352px;
    margin-top:7px;
  }
  .dropdown_custom .dropdown_header{
  
    padding-left:35px;
  }
  .dropdown_custom .dropdown_menu{
  
    padding:0;
  
  } 
  
  
  .dropdown_custom .show>.btn-primary.dropdown-toggle {
    color: #000;
    background-color: #fff;
    border: 0;
    border-bottom: 1px solid #E8E8E8;
    border-radius: 0;
  }
  .dropdown_custom .dropdown_header{
  
    background-color:#E8E8E8 ;
    color:#000000;
  }
  
  .dropdown_custom .items{
  
    border-bottom:1px solid #878787;
    padding:0;
  
  }
  .dropdown_header{
  
  width:100%;
  padding:2px 0px;
  }
  .dropdown_item {
  
    width:unset !important;
    margin:0 33px;
  
  }
  