.sort_by {
  margin-left: auto;
  margin-right: 0;
  padding: 20px 11px 0px 0;

}

.Maincategory_product_slider {
  overflow-x: hidden;
}

.shirt-col {

  height: auto;
  display: flex;
}

.text-category {
  position: relative;
}

.text-category .new {
  display: inline-block;
  position: absolute;
  z-index: 1;
  background: #000;
  padding: 0 5px;
  color: #fff;
}

.prod1 img {

  position: relative;
}

.image-color .favIcon {
  position: absolute;
  top: 0;
  right: 0;
  z-index: 1;
  cursor: pointer;
}

.image-color input[type='radio'] {
  -webkit-appearance: none;
  -moz-appearance: none;
  width: 30px;
  height: 20px;
  cursor: pointer;
  border: 1px solid #c4c4c4;
  z-index: 999;
}

.image-color input[type='radio']:hover {
  -webkit-filter: opacity(.4);
  filter: opacity(.4);
}

.image-color .blue {
  background: #7CCCD1;
}

.image-color .blue:checked {
  border: 2px solid #000;
}

.image-color .yellow {
  background: #F0C968;
}

.image-color .yellow:checked {
  border: 2px solid #000;
}

.image-color .white {
  background: #FFFFFF;
}

.image-color .white:checked {
  border: 2px solid #000;
}

.image-color .darkblue {
  background: #153880;
}

.image-color .darkblue:checked {
  border: 2px solid #000;
}

.image-color .skyblue {
  background: #D1E1F7;
}

.image-color .skyblue:checked {
  border: 2px solid #000;
}

.image-color .pink {
  background: #C7AACC;
}

.image-color .pink:checked {
  border: 2px solid #000;
}

.Maincategory_product_slider .preview-color {

  float: right;
  bottom: 22px;
  position: relative;

}

.Maincategory_product_slider .product-description {

  width: 100%;
  padding: 3px 0 10px 0;

}

.Maincategory_product_slider .prodDetail-text {
  line-height: 5px;
}

.Maincategory_product_slider .prodDetail-text p {
  font-size: 14px;
}

.shop-icon img {
  position: absolute;
  right: 0px;
  bottom: 109px;
  width: 40px;
  height: 39px;
}

.favIcon.me-2.position-relative.me-4 label {
  font-size: 1.5em;
}

.viewall-text {
  display: flex;
  justify-content: center;
}

.filtertext-category {


  font-family: 'Open Sauce One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
  line-height: 203.2%;
}

.filtertext-category img {
  height: 31px;
  margin-left: 3px;
}

.listsorting {

  border: 2px solid #000;
  position: absolute;
  width: 272px;
  z-index: 100;
  background: white;
  right: 32px;

}

.sort-list {
  font-family: 'Open Sauce One';
  font-style: normal;
  font-weight: 700;
  font-size: 12px;
  line-height: 183.7%;
}

.Maincategory_product_slider .btn-primary {
  color: #000;
  background-color: #fff;
  border: 0;
  border-bottom: 2px solid#E8E8E8;
  border-radius: 0;
}

.Maincategory_product_slider .dropdown-toggle::after {

  color: #000;
}

.Maincategory_product_slider .dropdown-text {

  font-family: 'Open Sauce One';
  font-style: normal;
  font-weight: 400;
  font-size: 15px;
}

.Maincategory_product_slider .dropdown-menu.show {

  overflow-y: auto;
  border: 1px solid #000;
  border-radius: 0;
  width: 352px;
  margin-top: 7px;
}

.Maincategory_product_slider #size-selector {
  height: 352px !important;
  overflow-y: auto;
}

.Maincategory_product_slider .dropdown-header {

  padding-left: 35px;
}

.Maincategory_product_slider .dropdown-menu {

  padding: 0;

}

.Maincategory_product_slider .show>.btn-primary.dropdown-toggle {
  color: #000;
  background-color: #fff;
  border: 0;
  border-bottom: 1px solid #E8E8E8;
  border-radius: 0;
}

.Maincategory_product_slider .dropdown-header {

  background-color: #E8E8E8;
  color: #000000;
}

.Maincategory_product_slider .items {

  border-bottom: 1px solid #878787;
  padding: 0;

}

.dropdown-header {

  width: 100%;
  padding: 2px 0px;
}

.dropdown-item {

  width: unset !important;
  margin: 0 33px;

}

.Maincategory_product_slider .fa-check:before {
  /* position: absolute;
  top: 45px;
  right: 22px; */
}

.Maincategory_product_slider .colors {

  border-bottom: 1px solid #878787;
  height: 38px;

}

.Maincategory_product_slider .colors span {

  width: 40px;
  height: 30px;
  padding: 0px 5px 0px 23px;
  left: 33px;
  position: absolute;

}

.Maincategory_product_slider .colors p {

  padding: 0px 0px 0px 50px;
  font-family: 'Open Sauce One';
  font-style: normal;
  font-weight: 400;
  font-size: 14px;

}

.Maincategory_product_slider .colors .color-black {

  background-color: #000;

}

.Maincategory_product_slider .colors .color-grey {

  background-color: #BFBFBE;

}

.Maincategory_product_slider .colors .color-lightgrey {

  background-color: #F1F1F1;

}

.Maincategory_product_slider .colors .color-white {

  background-color: #FFFEFF;

}

.Maincategory_product_slider .colors .color-multi {

  background-image: url("../../assets/images/multicolor.png");

}

.Maincategory_product_slider .colors .color-navy {

  background-color: #153880;

}

.Maincategory_product_slider .colors .color-petroleum {

  background-color: #43749D;

}

.Maincategory_product_slider .colors .color-blue {

  background-color: #5092F6;

}

.Maincategory_product_slider .colors .color-turquise {

  background-color: #9ADADF;

}

.Maincategory_product_slider .colors .color-lightblue {

  background-color: #D1E1F7;

}

.Maincategory_product_slider .colors .color-brown {

  background-color: #756046;

}

.Maincategory_product_slider .colors .color-olive {

  background-color: #A29B52;

}

.Maincategory_product_slider .colors .color-armygreen {

  background-color: #5D6D38;

}

.Maincategory_product_slider .colors .color-green {

  background-color: #5CA831;

}

.Maincategory_product_slider .colors .color-mint {

  background-color: #DDFDDA;

}

.Maincategory_product_slider .colors .color-rust {

  background-color: #B4653A;

}

.Maincategory_product_slider .colors .color-orange {

  background-color: #F09314;

}

.Maincategory_product_slider .colors .color-peach {

  background-color: #FEC085;

}

.Maincategory_product_slider .colors .color-yellow {

  background-color: #FEE847;

}

.Maincategory_product_slider .colors .color-beige {

  background-color: #F7F2E5
}


.Maincategory_product_slider .dropdown-toggle::after {

  border: 0;
}

.size .dropdown-item {
  padding: 0;

}

.show>.btn-primary.dropdown-toggle:focus {
  box-shadow: white !important;
}

.dropdown-menu {
  height: 350px;
  overflow-y: scroll;
}

.priceRange.dropdown-menu {
  height: auto;
  overflow-y: hidden;
}

.Maincategory_product_slider .size.dropdown-menu {

  height: auto;
  overflow-y: hidden;

}

.Maincategory_product_slider .btn-primary:focus {
  box-shadow: none !important;
}

.Maincategory_product_slider .downarrowicon {
  margin-left: 30px;
  width: 36px;
  height: 30px;
  color: #878787;

}

@media only screen and (max-width: 386px) {

  .Maincategory_product_slider .prodDetail-text p {
    font-size: 8px !important;
    line-height: 2px !important;
  }
}


.Maincategory_product_slider .check-tick {

  position: fixed;
  left: 85%;
}


.Maincategory_product_slider .favIcon label {
  font-size: 2.2em;
  cursor: pointer;
}

.infinite-scroll-component {
  overflow:hidden !important;
}

/* .dropdown-item div{
  display: none;
} */