.stickyfooter {
    background-color: #FFF;
    border-top: 2px solid #000;
    position: fixed;
    width: 100%;
    bottom: 0;
    font-size: 25px;
    z-index:99999;
    left:0;
}

.footerbutton {

    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.btnStyle {
    width: 190px;
    height: 32px;
    background-color: #000;
    color: #FFF;
    display: flex;
    justify-content: center;
    margin: 0 auto 15px auto;
    font-style: normal;
    font-weight: 400;
    font-size: 11px;
    align-items: center;
}