.category_menu_slider{

    background-color: #F1FF54;
    margin-bottom:25px;
}
.category_menu_slider .category-buttons{
    flex-direction: row;
    display: flex;
    flex-wrap: wrap;
    margin-left:16px;
}
@media(max-width:768px){
    .category_menu_slider .category-buttons{
        flex-wrap: nowrap;
        display: grid;
        grid-template-columns: 1fr 1fr 1fr;
        gap: 9px;
        padding: 21px;

    }
    .category_menu_slider .category-buttons .btn{
        min-width: 100px;  
        padding: 0 ;      
    }
    .category_menu_slider .category-buttons .btn button{
        width: 100%;
        min-width: 100px;
        font-size: 9px;
        
    }
}
.category_menu_slider .text-button{
    background-color:#fff;
    padding:5px;
    color: #000;
    font-family: 'OpenSauceOneRegular';
    font-weight: normal;
    font-style: normal;
    font-size:15px;
  }

  #outer {
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    height: 142px;
    width: 516px;
    margin:10px 10px 10px 10px;
    padding-bottom:20px;
}

.div {
    width: 108px;
    flex: 10 0 30px;
    margin: 5px;
    background-color:#FFFF;
    font-size:10px;
}

.text-menu{

    margin:7px;
    margin-top:5px;
    padding: 17px 0px 17px 17px;
    
}
