.myaccount .update-info{
    width: 35%;
}
.myaccount .ph-remove-btn{
    height: 39px;
}

.myaccount{
    position: relative;
    top: 40px;
}
.myaccount .form-group input{
    border-radius: 0!important;
    border: 1.5px solid;
    color:#878787;
}

.myaccount .form-group  input::placeholder{

    color: #878787;


}
.forgot-password{
    position: relative;
    top: 12px;
}
.myaccount .submit-btn{
text-align: center;
}
.myaccount .privacy-text{
    font-size: 13px;
    color: #878787;

}
.myaccount h6{
    font-weight: 600;
    padding-bottom:12px;
  
}
.myaccount .error_message{
    font-size: 14px;
    color: red;
}

@media only screen and (max-width:768px){


    .myaccount .update-info {
        width: 71%;
    }

}