.login-form{
    position: relative;
    top: 40px;
}
.login-form .form-group input{
    border-radius: 0!important;
    border: 1.5px solid;
}
.forgot-password{
    position: relative;
    top: 12px;
}
.login-form .submit-btn{
text-align: center;
}
.login-form .privacy-text{
    font-size: 13px;
    color: #878787;

}
.login-form h6{
    font-weight: 600;
}
.login-form .error_message{
    font-size: 14px;
    color: red;
}


 .submit-sigin{

    width:308px;
    height:40px;
}

.login-form input::placeholder{


    color:#878787 !important;
    font-weight: 400;
    font-size: 11px;
}
@media only screen and (max-width:768px){
    .submit-sigin{

        width:198px;
        
    }
}
