.bg-grey img{
    background: #fafafa;
    margin-bottom: 0.5rem;
}
.bg-grey p{
    margin-bottom:0;
}
.cards{
    padding: 0.5rem;
}
.bg-grey .rear-img{
    opacity:0;
    position: absolute;
    top: -5px;
    left: 0px;
    height: auto;
    width: auto;
    z-index:-1;
    transition: opacity 0.4s ease-out;
}
.bg-grey:hover .rear-img{
    opacity: 1;
    z-index: 0;
}
/* .bg-grey{
    box-shadow: 0 6px 12px -7px rosybrown;
    transition: box-shadow 0.4s ease-out;
}
.bg-grey:hover{
    box-shadow: 0 10px 12px -7px #ccc;
} */

.women-fashion .container-fluid #carousel-slide, .men-fashion .container-fluid #carousel-slide, .stories .container-fluid #carousel-slide{
    padding-left: 9.8rem;
}
.react-multi-carousel-list{
    padding-left: 0;
} 


.image_placeholder{
    height: 15rem;
    width: 15rem;
}