.checkout-address .address-view {
    display: flex;
    justify-content: space-between;
}

.checkout-address .defaultAddText {
    cursor: pointer;
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    align-items: center;
}

.checkout-address .address-section {
    display: flex;
    flex: wrap;
}

.checkout-address .card {
    width: 44%;
    border: none;
}

@media (max-width:768px) {
    .checkout-address .card {
        width: 100%;
        border: none;
    }
}

.checkout-address .card .card-body {
    padding: 0;
    border: 1px solid #d1d1d1;
}

.card-body>span {
    float: right;
    /* margin-bottom: -32px; */
    padding: 6px 16px;
    background: green;
    color: #fff;
    position: relative;

    font-size: 10px;
}

.card .card-address {
    padding: 17px;
}

.address-section .checkout-summary {
    padding: 5px;
}

@media(max-width:768px) {
    .checkout-summary {
        position: relative;
        margin: 31px 0 30px 0;
    }
}

.row-title {
    width: 50%;
    float: left;
}


.checkout-address .product-items .product-item-img {
    width: 51%;
    padding: 5px;
}

.checkout-address .product-items .product-item-img img {
    width: 100%;
    height: 100%;
}

.checkout-address .product-items .product-item-info {
    display: flex;
    flex-direction: column;
    justify-content: start;
    width: 100%;
}

.checkout-address .product-item .item-title {
    display: flex;
}


/* new */



.bag-item {
    position: relative;
    display: flex;
    flex-wrap: nowrap;
    margin-top: 16px;
    border: 1px solid #dcddde;
    min-height: 116px;

}

.bag-item-img {
    width: 13%;
    padding: 5px;
}

.bag-item-img img {
    width: 100%;
}

.bag-item-info {
    padding: 5px;
    display: flex;
    flex-direction: column;
    width: 100%;
}

.cartView .bag-item-title {
    width: 100%;
    margin-bottom: 0;
}

.bag-item-title {
    display: flex;
    flex-wrap: nowrap;
    /* padding-top: 10px;
    margin-bottom: 10px; */
}

.bag-item-title .product-name {
    text-transform: capitalize;
    color: var(--text-color-secondary);
    display: inline-block;
}

.os-item-summary {
    display: flex;
    flex-direction: row;
}

.os-item-details {
    display: flex;
    flex: 1;

}

.os-size-div {
    display: flex;
    flex: 1;
    align-items: center;
}

.os-color-div,
.os-qty-div,
.os-size-div {
    display: flex;
    flex: 1;
    align-items: center;
}

.os-color-div,
.os-qty-div,
.os-size-div {
    display: flex;
    flex: 1;
    align-items: center;
}

.bag-item .item-price-wrapper {
    display: flex;
    margin: 12px 0 12px 0;
    width: 40%;

}
.checkout-address .color-code{
    padding-left: 8px;
}
.color-div {
    background-color: blue;
    width: 35px;
    height: 15px;
    
}

.price-div {
    display: flex;
    /* justify-content: space-between; */
    /* width: 55%; */
}

.disc-price {
    margin-right: 20px;
}

.striked-price {
    text-decoration: line-through;
    margin-right: 15px;

}

.disc-perc {
    color: red;
    font-weight: 600;
}

.bag-item-title .product-name {
    text-transform: capitalize;
    color: #828282;
    display: inline-block;
}

.bag-item-title .product-name span {
    font-weight: 600;
    color: black;
    margin-right: 10px;
}

.bag-checkout .bag-payment-section {
    min-height: 80px;
    margin-top: 15px;
    margin-bottom: 15px;
    display: flex;
    flex-direction: column;
    position: relative;
}

.bag-payment-section {
    margin-top: 10px;
    margin-bottom: 10px;
}

.bag-payment-section .title {
    position: absolute;
    margin-bottom: 10px;
}

.bag-payment-section .details {
    height: 15px;
    width: 15px;
    position: relative;
    margin-left: 15px;
    cursor: pointer;
    line-height: 19px;
    color: #3b73af;
    font-size: 12px;

}

.bag-payment-section .pricecontent {
    position: relative;
    margin-top: 12px;
    display: flex;
    justify-content: space-between;
}

.bag-payment-section .pricecontent .dot {
    position: relative;
    right: 30px;
}

.bag-payment-section .pricecontent .shipping-value {
    color: green;
    font-size: 14px;
    font-weight: 500;
}

.bag-payment-section .tax-info {
    font-size: 10px;
    position: relative;
    bottom: 7px;
    color: #7b7b7b;
}

.show_info_icon {
    right: 15px;
    background: url(https://images.koovs.com/uploads/koovs/information.png);
    background-repeat: no-repeat;
    background-size: 14px;
    height: 14px;
    width: 14px;
    position: relative;
    /* margin-left: 1px; */
    cursor: pointer;
    top: 5px;

}

.radioDiv input {
    position: absolute;
    height: 20px;
    width: 20px;
    top: 21px;
    left: 26px;
    border: 2px solid #000;
    accent-color: black;
}

.checkout-address .delivery-info {
    font-size: 12px;
    color: green;
}

.checkout-address .payment-footer {
    padding-top: 22px;
}

.checkout-address .payment-footer {
    border-bottom: 1px solid #cecece;
}

.checkout-address .payment-footer .payment-item {
    color: #737373;
    display: inline-block;

}

.checkout-address .addBtn {
    right: 73px;
    position: relative;
}

.modal-body .address-form input {
    border: 0;
    border-radius: 0;
    border-bottom: 1px solid #d1d1d1;
}

.modal-body .address-form .form-group {
    margin: 10px;
}

.modal .modal-footer {
    justify-content: center;
}