.liveinwomen {
    position: relative;
    padding: 37px 153px 46px 153px;
    height: auto;
    background-color: #CBBFFF;
}

.LiveMen {

    display: flex;
    transform: rotate(270deg);
    position: absolute;
    font-size: 37px;
    height: auto;
    margin-left: -279px;
    bottom: 166px;
}
@media(min-width:1600px) {
    .LiveMen {
        bottom: 342px;
        font-size: 52px;
        margin-left: -362px;
    }
}
.liveinwomen .row {
    --bs-gutter-x: 52px;
}

.liveinwomen .video-play-button {

    position: absolute;
    z-index: 10;
    top: 37%;
    left: 31%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    border: 0;
    background: transparent;
}

#coming-soon {

    background-color: white;
    border: none;
    width: 270px;
    height: 60px;
    font-weight: 600;
    font-size: 25px;

}

.coming-soon-button {
    position: absolute;
    z-index: 10;
    top: 37%;
    right: 12%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    border: 0;
    background: transparent;

}

.liveinwomen .video-play-button img {

    width: 96px;
}

.text-live {

    position: absolute;
    color: #fff;
    background-color: #000;
    display: flex !important;
    flex-direction: row !important;
    z-index: 999;
    justify-content: space-between;
    width: 90px;
    height: 30px;

}

.timing-text {
    font-size: 12px;
    padding: 5px 3px 5px 17px;
}

.Heading-live {
    margin-top: 35px;
    font-size: 20px;
    font-weight: 700;

}

.Heading-live .para-live {
    font-size: 15px;
    line-height: 18px;
    min-height: 109px;
    margin: 30px 0 20px 0;
    font-weight: 400;
    font-style: normal;

}
.Heading-live .bobby-live {

    font-size: 15px;
    line-height: 18px;
    min-height: 115px;
    margin: 30px 0 20px 0;
    font-weight: 400;
    font-style: normal;


}
.Live-button {

    width: 252px;
    background-color: #FFFFFF;
    display: flex;
    justify-content: center;
    margin: 0 auto;

}

.live-mohammed{
    padding-right:65px;
}
.live-bobby{
    padding-right:65px;
}
@media only screen and (max-width: 768px) {

    .Live-button {
        margin-bottom: 20px;
    }

    .liveinwomen {
        padding: 0 !important;
    }
}

@media only screen and (max-width: 576px) {

    .Live-button {
        margin-bottom: 37px;
    }

    .carousel-live {

        padding: 3px 5px 2px 5px;
    }

    .Heading-live .para-live {
        font-size: 12px;
        line-height: 153.7%;
    }
    .live-mohammed{
        padding-right:25px;
    }

    .banner-Image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
}

@media only screen and (min-device-width: 990px) and (max-device-width: 1300px) {
    #coming-soon {
        width: 237px;
    }
    .Heading-live h5{

        font-size:17px;


    }

    .Heading-live .bobby-live{

        min-height:146px;
    }

}
@media only screen and (min-device-width: 1400px) and (max-device-width: 1560px) {

   
    #coming-soon {

        width: 290px;
        height: 66px;
        font-weight: 600;
        font-size:26px;

    }
    .coming-soon-button {
        left:68%;
    }

    .liveinwomen .video-play-button img {
        width: 108px;
    }
    .liveinwomen .video-play-button {
      
        left: 29%;
    }






}
@media only screen and (min-device-width: 1560px) and (max-device-width: 2000px) {

    #coming-soon {

        width: 367px;
        height: 85px;
        font-weight: 600;
        font-size: 30px;

    }
    .liveinwomen{

        padding: 37px 290px 46px 290px;
    }
    .coming-soon-button {
        left:68%;
    }


}

@media only screen and (min-device-width: 767px) and (max-device-width: 980px) {
    .banner-Image {
        width: 100%;
        height: auto;
        object-fit: cover;
    }
    .liveinwomen{
        padding: 22px 0px 22px 22px;
    }
    .live-mohammed{
        padding-right:0px;
    }
    }