.video-play-button {
    position: absolute;
    z-index: 10;
    top: 50%;
    left: 50%;
    transform: translateX(-50%) translateY(-50%);
    box-sizing: content-box;
    display: block;
    border: 0;
    background: transparent;
}
.future-collaboration h5{
    font-weight: 600;
}
.img-content img{
    width: 100%;
}
#carousel-slide{
    overflow: hidden;
}
.green-card{
    /* width:300px; */
    height: 100px;
    background: #99D19A;
    text-align: center;
    display: flex;
    align-items: center;
    justify-content: center;
    padding: 1rem;
}
.green-card p{
    margin-bottom: 0;
}
.SocialMedia .cards{
    padding: 0.2rem;
}
.future-collaboration .img-content{
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    gap: 5px;
}
.future-collaboration .img-content p{
    margin-bottom: 0;
    font-size: 14px;
}

.react-multi-carousel-list{
    position:relative !important;
    left:-21px !important;
}

.future-collaboration{


    padding-bottom:90px;
}


@media only screen and (min-width: 1440px) and (max-width: 2000px) {

    .grid-text{

    font-weight: 500;
    font-size: 30.9px;

    padding:0px 16px !important;

}
}


@media only screen and (max-width: 576px) {

    .grid-text{
        font-weight: 500 !important;
        font-size: 10px !important;
        }

    .future-collaboration{
        padding-left:11px;
    }

    .instagram-heading{

        margin-left:23px;
    }
    
    .collab-padding{
        padding-right: 0px !important;

    }

    .insta-koovs{
        padding-left: 0px;
        padding-right:0px;
    }

    .insta-koovs strong{

        padding-left:21px;
    }

}
