footer {
  background: #212121;
}

ul {
  margin: 0px;
  padding: 0px;
}

.footer-section {
  background: #fff;
  position: relative;
  z-index: 0;
}

.footer-content {
  position: relative;
  z-index: 2;
}

.footer-widget-heading h3 {
  margin-bottom: 40px;
  position: relative;
}


.footer-widget ul li {
  display: block;
  float: left;
  width: 100%;
  margin-bottom: 0px;
  line-height: 36.6px;
}

.connectkoovs .footer-widget {
  display: inline-block;

}

footer ul li a,
footer h3 {
  color: #000;
  text-transform: capitalize;
  text-decoration: none;
  font-size: 15px;
}

.footer-social-icon a {
  color: #000;
  font-size: 16px;
  margin-right: 15px;
}

.footer-social-icon i {
  height: 40px;
  width: 40px;
  text-align: center;
  line-height: 38px;
  border-radius: 50%;
}

.footer-widget-heading {
  color: #000;
  font-weight: 600;

}

.empty_li {
  opacity: 0;
}

.form-floating .form-control {
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

#floatingEmail {
  color: grey;
  font-size: 11px;

}

#floatingline {
  border-bottom: 2px solid rgb(12, 1, 1);
  border-top: 0;
  border-left: 0;
  border-right: 0;
  border-radius: 0;
}

#floatingborder {
  position: relative;
  bottom: 48px;
  border: 1px solid #000;
  margin: 0rem 0;
  opacity: 1;
}

.mb-content {
  font-size: 12px;
  margin-top: 0.8rem;
}

@media only screen and (max-width: 576px) {

  .signup {
    order: 1;
  }

  .connectkoovs {
    order: 4;

  }

  .account {
    order: 2;
  }

  .online {
    order: 3;
  }

  .form-floating {
    position: absolute;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .submitfooter {
    display: flex;
    justify-content: center;
    background-color: #000;
    color: #fff;
    width:200px;
    margin: 23px 0px;
    height: 40px;
    padding-top: 6px;
    
  }

  .footer-widget-heading p {

    margin-bottom: 10px;

  }
.promotionheading::after{
  display:none !important;

}
  .socialmediacards {
    bottom: 30px;
    position: absolute;
    padding-top: 3px;
  }

  #floatingborder {
    position: relative;
    bottom: 68px;
  }

  #floatingline {

    border: 1px solid #000;
    width: 100%;
    height: 31px;
    border-radius: 0px;

  }

  .footer-widget ul li {
    line-height: 23px;
    font-size: 11px;
    font-weight: 500;
  }
  .emailaddress{
    display:flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
  }
}

