.register-form h4 {
    font-weight: 600;
}

@media(max-width:768px) {
    .section-register-form {
        display: block;
    }
}


.register-form {
    position: relative;
    top: 40px;
}

.register-form .form-group input .form-select {
    border-radius: 0 !important;
    border: 1.5px solid;
}

.forgot-password {
    position: relative;
    top: 12px;
}

.register-form .submit-btn {
    text-align: center;
}

.register-form .privacy-text {
    font-size: 11px;
    color: #878787;
}

.register-form .info-text {
    font-size: 13px;
}

.register-form h6 {
    font-weight: 600;
}

.register-form .checkbox-confirm {
    font-size: 12px;
}

.register-form .form-check-input[type=checkbox] {
    border-radius: 0;
}

.register-form .form-control {

    border-radius: 0;
    border: 1px solid #000;

}

.register-form .form-select {

    border-radius: 0;
    border: 1px solid #000;

}

.form-check-label.radio{

    padding-left: 8px;
}