html {
  scroll-behavior: smooth;
}

/* @import url('https://fonts.googleapis.com/css2?family=Inter:wght@300&display=swap'); */
/* font-family: 'Inter', sans-serif;  */
body {
  color: #000;
  font-family: 'OpenSauceOneRegular';
  font-weight: normal;
  font-style: normal;
}

a {
  cursor: pointer;
}

::selection {
  color: #fff;
  background-color: #ffee00;
}

.fs-10 {
  font-size: 10px;
}

.fs-12 {
  font-size: 12px;
}

.fs-14 {
  font-size: 14px;
}

.fs-16 {
  font-size: 16px;
}

.fs-18 {
  font-size: 18px;
}

.fs-20 {
  font-size: 20px;
}

.fs-24 {
  font-size: 24px;
}

.fs-27 {
  font-size: 27px;
}

.fs-30 {
  font-size: 30px;
}

ol,
ul {
  padding-left: 0 !important;
  list-style: none;
}

.b-radius {
  border-radius: 12px;
}

a:hover {
  color: #7a7a7a;
}

.container-fluid {
  padding-right: 30px;
  padding-left: 30px;
}

@media (min-width: 576px) {

  .container,
  .container-sm {
    max-width: 540px !important;
  }
}

@media (min-width: 768px) {

  .container,
  .container-sm,
  .container-md {
    max-width: 720px !important;
  }
}

@media (min-width: 992px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg {
    max-width: 960px !important;
  }
}

@media (min-width: 1200px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl {
    max-width: 1140px !important;
  }
}

@media (min-width: 1540px) {

  .container,
  .container-sm,
  .container-md,
  .container-lg,
  .container-xl,
  .container-xxl {
    max-width: 1480px !important;
  }
}

@media (prefers-reduced-motion: no-preference) {
  .App-logo {
    animation: App-logo-spin infinite 20s linear;
  }
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

/* section{
  margin-top: 1rem;
} */




.skeleton-uuypnq47b80:empty {
  box-sizing: content-box;
  height: 290px;
  background-color: #E1E1E1;
  border-radius: 0px 0px 0px 0px;
  background-image: linear-gradient(100deg, rgba(255, 255, 255, 0), rgba(255, 255, 255, 0.5) 50%, rgba(255, 255, 255, 0) 80%), linear-gradient(#E0E0E0 200px, transparent 0);
  background-repeat: repeat-y;
  background-size: 50px 290px, 360px 290px;
  background-position: -20% 0, 20px 20px;
  animation: shineForSkeleton-uuypnq47b80 2s infinite;
}

@keyframes shineForSkeleton-uuypnq47b80 {
  to {
    background-position: 120% 0, 20px 20px;
  }
}